.button-bar {
    display: flex;
    justify-content: left;
    align-items: stretch;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--hover);
    flex-wrap: wrap;
    top: 0;
    position: sticky;
    z-index: 1;
}

.button-bar button {
    border: 1px solid var(--button-text-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    width: 50px;
    min-width: 40px;
    height: 20px;
    padding: 4px 0;
    margin: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: var(--secondary-color);
}

.button-bar button:hover {
    background-color: var(--highlight);
}

svg {
    width: 30px;
    height: 15px;
}

/* Media query for wide screens */
@media (min-width: 1200px) {
    .button-bar {
        justify-content: space-around; /* Evenly distribute buttons across space */
    }
}
