collapsible_title {
  width: 100%;
  display: block;
}

collapsible_title:hover {
  background-color: var(--hover);
  cursor: pointer;
}

.collapsible_content, markdown {
  border: var(--tertiary-color) 2px dashed;
}

markdown, math-display {
  display: block;
  width: 100%;
}

.markdown {
  padding: 0px;
}


.input-correct {
  border-left: 5px solid #0FFF50;
}

.input-incorrect {
  border-left: 5px solid #ff0f0f;
}

.input-unattempted {
  border-left: 5px solid var(--secondary-color);
}

.locked {
  pointer-events: none;
  user-select: text;
}

.markdown-rendered-child {
  padding: 1px 4px 5px 4px;
}

.markdown-rendered-child > * {
  padding: 1px 4px 5px 4px;
}


.unlocked,
.unlocked>* {
  pointer-events: auto;
  cursor: auto;
}

.math-node .math-src, .math-node > *, .math-src > *, math-display {
	color: var(--text-color) !important;
  background-color: var(--primary-color) !important;
}

.cm-editor, .cm-editor > *, .ͼ2 .cm-gutters, .cm-activeLineGutter {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
  font-family: var(--font-family) !important;
  font-size: var(--font-size) !important;
}