.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup {
    width: 90%;
    min-width: 550px;
    max-width: 800px;
    padding: 25px;
    text-align: center;
    margin-bottom: 10%;
    position: relative;
}

.popup>* {
    text-align: left;
}

.popup h2 {
    margin-top: 0;
    text-align: center;
}

.popup h4 {
    margin-top: 0;
    margin-bottom: 3px;
}

.settings-container {
    margin-bottom: 10px;
}

.settings-container:hover {
    background-color: var(--hover);
}

.close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.44);
    border: 1px black solid;
    font-size: 16px;
}

.close-button:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.dropdown {
    background-color: var(--secondary-color);
    color: var(--button-text-color);
    margin-top: 5px;
    border: 1px solid var(--tertiary-color);
}

.dropdown:hover, .dropdown option {
    background-color: var(--highlight);
}

.dropdown option:checked {
    background-color: var(--hover);
    color: var(--button-text-color);
}

.checkbox:checked {
    accent-color: var(--secondary-color);
}

.checkbox:hover {
    cursor: pointer;
    accent-color: var(--hover);
}


.settings-text-input {
    width: 80%;
    background-color: var(--secondary-color);
    color: var(--button-text-color);
    border: none;
    padding: 5px;
    margin-top: 5px;
    height: 19px;
}

.settings-text-input::placeholder {
    color: var(--button-text-color);
} 

.settings-text-input:focus {
    background-color: var(--hover);
    color: var(--text-color);
}

.settings-text-input:hover {
    background-color: var(--hover);
    color: var(--text-color);
}

.settings-apply-button {
    border: 1px solid var(--button-text-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    width: 50px;
    min-width: 40px;
    height: 20px;
    padding: 4px 0;
    margin: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: var(--secondary-color);
    margin-left: 5px;
}

.settings-apply-button:hover {
    background-color: var(--hover);
}

.reset-confirm-container {
    position: fixed;
    top: 24px;
    right: 12px;
    padding-left: 5px;
    border-radius: 5px;
    width: 270px;
}

.reset-confirm-container p {
    margin-top: 0;
    color: var(--text-color);
    padding: 5px;
}

.reset-confirm-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.reset-confirm-container button {
    background-color: var(--secondary-color);
    color: var(--button-text-color);
    border: none;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid var(--button-text-color);
    border-radius: 4px;
    font-size: 12px;
    height: 30px;
    width: 50px;
}

.popup, .reset-confirm-container {
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--text-color);
    z-index: 1000;
}